.svn
.DS_Store
._*
.LSOverride
*~
*.suo
*.ncb
*.ilk
*.user
*.perspectivev3
*.pbxuser
*.xcuserstate
*.o
*.app
build
BTTT*.exe
BTTT*.pdb
BTTT*.map
bttt
bttt_*
settings.cfg
stdout.txt
stderr.txt
mechinfo.exe
mechinfo
weapinfo.exe
weapinfo
custinfo.exe
custinfo
structure.exe
structure
